<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="indextot">
      <div class= "container">
	    <div class="row">
	      <div class="col-xs-6">
	        <div id="test-carousel" class="carousel slide img-size" data-ride="carousel" data-interval="2000">
  	　        <div class="carousel-inner">
		        <div class="item active img-size">
			      <img class="slide img-size" src="/assets/IMG_5169.jpeg">
		        </div>
		        <div class="item img-size">
			      <img class="slide img-size"src="/assets/IMG_5177.jpeg">
		        </div>
		        <div class="item img-size">
			      <img class="slide img-size"src="/assets/IMG_5175.jpeg">
		        </div>
		        <div class="item img-size">
			      <img class="slide img-size"src="/assets/IMG_5174.jpeg">
		        </div>
	          </div>
            </div>
	     </div>

	      <div class="col-xs-6">
	      	<h1>＊Fashionista</h1>
	      	<h3>かけがえのない、1日を過ごせていますか？</h3>
	      	<h3>生きていれば、悩みがたくさんありますよね。</h3>
	      	<h3>そこで、気分が上がるのはお洒落です。</h3>
	        </br>
	        <h2>＊サイト概要</h2>
	      	<h3>人生で、常に身に纏っているのが洋服です</h3>
	      	<h3>このサイトではお洒落なユーザーやアイテムを見て</h3>
	        <h3>自身のNewアイテムを探せます。</h3>
	        <h3>ユーザーになると、スタイリングを投稿すること</h3>
	        <h3>ができます。</h3>
	        <h3>ランキング形式で表示しているので</h3>
	        <h3>有名に慣れるかもしませんね。</h3>
	        <h3>ぜひユーザー登録して、楽しんで見てください。</h3>
	      </div>
	    </div>
	  </div>
	</div>
  </body>
</html>