// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.swiper-container {
	width: 100%;
	height: 370px;
}
.swiper-slide {
	padding-top: 180px; 
	text-align: center;
	color: #fff;
	font-size: 30px;
}
#back {
  right: 20px;
  bottom: 20px;
}
 
#back img {
	height: 130px;
	width: 50px;
	padding-bottom: 80px;
}