<!DOCTYPE html>
<html>
  <head>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-center-circle.min.css" />

       <%= render 'layouts/header' %>
  </head>
  <body style="background-color:#eee; color:black;">
      <%= yield %>
       <%= render 'layouts/footer' %> 
        <span id="back">
      <a href="#">
        <div align="right"><img src="/assets/arrow.png" alt=""></div>
      </a>
      <div class="backline">
      </div>
      <link href="./css/skippr.css" rel="stylesheet" media="all" type="text/css" />
      <script src="./js/jquery-1.11.3.min.js" type="text/javascript"></script>
</body>
  </body> 
</html>
