<!DOCTYPE html>
<html>
  <head>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-center-circle.min.css" />

　　　　<script src="jquery.fademover.js"></script>
       <meta name="viewport" content="width=device-width,initial-scale=1.0">

       <%= render 'layouts/header' %>
  </head>
  <body style="background-color:#eee; color:black;">
      <%= yield %>
       <%= render 'layouts/footer' %> 
        <span id="back">
      <a href="#">
        <div align="right"> <%= image_tag asset_path("arrow.png"),size:"250x250"%></div>
      </a>
      <div class="backline">
      </div>
  </body> 
</html>
